section > h2 {
  text-align: center;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(234, 225, 225, 0.811);
}

.product {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  background-color: white;

  h3,
  p {
    text-align: center;
  }

  button {
    background-color: rgb(65, 176, 65);
    color: rgb(230, 225, 225);
    border-radius: 10px;
    width: 50%;
    margin-left: 60px;
    margin-bottom: 20px;
  }
}

.product img {
  width: 200px;
  height: 200px;
}
